.table-crm {
    padding: 60px 30px;
    background: rgba(24, 24, 27);
    border-radius: 20px;
}

ul {
    padding: 0 !important;
}

.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #18181b !important;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.btn-details {
    padding: 8px 6px !important;
    background-color: #8b5cf6 !important;
    color: #fff !important;
}

.btn-danger {
    padding: 8px 6px !important;
}

.btn-details:hover {
    background-color: #9d77f5 !important;
}

.btn-edit{
    padding: 8px 6px !important;
    background-color: #f97316 !important;
    color: #fff !important;
}

.btn-edit:hover{
    background-color: #fb923c !important;
}

.table-crm .btn {
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
}

.table-crm .btn i {
    margin-right: 4px;
}

.table-crm .form-control {
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.search-icon{
    top: 30%;
    right: 5% !important;
}

td{
    vertical-align: middle;
}